# Frontend Environment Variables Template for AbhiRide

NEXT_PUBLIC_API_URL="http://localhost:5000/api"
NEXT_PUBLIC_SOCKET_URL="http://localhost:5000"

# Firebase Client Web App Credentials
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDv-HgieA4JxSqCYSN9f-3Lh4xF1h9Zkis"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="abhiride.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="abhiride"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="abhiride.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="829657315825"
NEXT_PUBLIC_FIREBASE_APP_ID="1:829657315825:web:238f698267eecb09e4ec50"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-WS8KCXGSE3"
